.watchlist-media-list-container {
    display: flex;
    gap: 1rem;
    width: initial;
    margin-inline: 1rem;
    flex-direction: row;
    align-items: center;
    height: 4em;
    background-color: var(--bg-color-secondary);
    border-radius: 1em;
    border-width: 0.15em;
    border-color: var(--color-contrast);
    border-style: solid;
    box-shadow: 0.25rem 0.25rem var(--color-contrast);
    margin-bottom: 2em;
    font-family: sudo;
    font-weight: bold;
    color: var(--color-text);
    padding: .5rem;
}

.watchlist-media-list-image {
    height: 3.5rem;
    width: 3.5rem !important;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid var(--color-contrast);
}

.watchlist-media-list-title {
    flex-grow: 1;
    margin: 0.5rem 0 0 0;
}
