.none-visible {
    display: none;
}

.visible {
    display: flex;
    position: absolute;
    z-index: 10;
}

.emoji-picker-button {
    background: var(--bg-color-secondary);
    margin-left: 8%;
    border: solid;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-color: var(--color-contrast);
    border-width: 0.15em;
}

.emoji-faFaceSmile {
    color: var(--color-text);
    width: 1.5em;
    height: 1.9em;
}
