.none-visible {
    display: none;
}

.visible {
    display: flex;
    position: absolute;
    z-index: 10;
}

.emoji-picker-button {
    background: none;
    border: none;
}

.emoji-faFaceSmile {
    color: var(--color-text);
    width: 1.5em;
    height: 1.9em;
}
