.card-skeleton{
    width: 80vw;
    color: var(--color-text);
    margin: auto;
    border-radius: 1em;
    animation: skeleton-loading 1s linear infinite alternate;
    background: #E5E4E2;
    height: 56vh;
}